@{
    ViewData["Title"] = "Anja Banješević";
}

<div class="center">
    <img id='hp-cover' src="~/images/hp-covers/2.png" height="500px">
</div>

@*<script>
'use strict';
$( document ).ready(function() {
  // Handler for .ready() called.

  //contacts part


  var contactIsShown = false;
  console.log("1f");

  $('#contacts').click(function () {
    if (!contactIsShown) {
      $('#contacts').attr('src', 'images/contacts_02.png');
    } else {
      $('#contacts').attr('src', 'images/contacts_01.png');
    }
    $('#contact-panel').toggle('slide');
    contactIsShown = !contactIsShown;
  });

  //home page cover part
  var hpSrcArrstring = [
    'images/hp-covers/2.png',
    'images/hp-covers/3.png',
    'images/hp-covers/4.png',
    'images/hp-covers/5.png',
    'images/hp-covers/6.png',
    'images/hp-covers/7.png',
    'images/hp-covers/8.png',
    'images/hp-covers/9.png',
    'images/hp-covers/10.png'
    ];
  var currentSrc =  Math.floor(Math.random() * hpSrcArrstring.length);

  function changeImage() {
    currentSrc++;
    if (currentSrc >= hpSrcArrstring.length) {
      currentSrc = 0;
    }
    $('#hp-cover').fadeOut(500);
        setTimeout(function(){
            $('#hp-cover').attr('src', hpSrcArrstring[currentSrc])
            $('#hp-cover').fadeIn(500);

    }, 500);
  }

  var interval = setInterval(changeImage, 7000);

  $('#hp-cover').click(function () {
    changeImage();
    clearInterval(interval);
    interval = setInterval(changeImage, 7000);
  });



});//on ready
</script>*@